{
	"extends": "next/core-web-vitals",
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"typescript": {
				"project": "./tsconfig.json"
			},
			"node": {
				"paths": [
					"."
				]
			}
		}
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	}
}
