{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended",
		"plugin:@typescript-eslint/recommended",
		"plugin:@typescript-eslint/eslint-recommended",
		"plugin:@typescript-eslint/recommended-requiring-type-checking",
		"next"
	],
	"plugins": [
		"@typescript-eslint"
	],
	"settings": {
		"react": {
			"version": "detect"
		},
		"import/resolver": {
			"typescript": {
				"project": "./tsconfig.json"
			},
			"node": {
				"paths": [
					"."
				]
			}
		}
	},
	"parser": "@typescript-eslint/parser",
	"parserOptions": {
		"project": "./tsconfig.json",
		"ecmaFeatures": {
			"jsx": true
		},
		"ecmaVersion": 12,
		"sourceType": "module"
	},
	"rules": {
		"indent": [
			"error",
			"tab"
		],
		"linebreak-style": [
			0,
			"error",
			"windows"
		],
		"quotes": [
			"error",
			"double"
		],
		"semi": [
			"error",
			"always"
		],
		"no-multiple-empty-lines": [
			"error",
			{
				"max": 1,
				"maxEOF": 0
			}
		],
		"comma-dangle": [
			"error",
			{
				"arrays": "always-multiline",
				"objects": "always-multiline",
				"imports": "never",
				"exports": "never",
				"functions": "never"
			}
		],
		"object-curly-spacing": [
			"error",
			"always"
		],
		"react/self-closing-comp": [
			"error",
			{
				"component": true,
				"html": true
			}
		],
		"@typescript-eslint/no-unsafe-assignment": "off"
	}
}
