.footer {
    width: 100%;
    background: var(--header-bg);
}

.content {
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem var(--sides-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}
