.footer {
    width: 100%;
    background: var(--footer-bg);
}

.content {
    height: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 1rem var(--sides-padding);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.links {
    list-style: none;
    display: flex;
    align-items: center;
}

.links li {
    margin-right: 1rem;
}

.links li:last-child {
    margin-right: 0;
}
