.content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 5rem var(--home-sides-padding);

    display: flex;
    align-items: center;
    justify-content: space-between;
}

.text {
    margin-right: 2rem;
}

.text h1 {
    font-size: 4rem;
    font-weight: 600;
    margin-bottom: 3rem;
}

.links {
    display: flex;
}

.link {
    padding: 1rem 0.75rem;
    border: 1px solid #D9D9D9;
    background: transparent;
    border-radius: 2px;
    color: var(--color-primary);
    margin-right: 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    white-space: nowrap;
}

.link:last-child {
    margin-right: 0;
}

.link:hover {
    cursor: pointer;
}

.primary {
    background: var(--highlight-dark);
    border: 1px solid transparent;
}

.spot1,
.spot2 {
    position: absolute;
    z-index: -10;
}

.spot1 {
    top: 0;
    left: 0;
}

.spot2 {
    top: 0;
    right: 0;
}
