.section {
    position: relative;
}

.content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 5rem var(--home-sides-padding);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.text {
    margin: 0 0 2rem;
}

.text h1 {
    font-size: 3rem;
    font-weight: 600;
    margin: 0 0 2rem;
    text-align: center;
}

.image {
    display: none;
}

.links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.link {
    padding: 0.5rem 1rem;
    border: 1px solid #D9D9D9;
    background: transparent;
    border-radius: var(--border-radius);
    color: var(--color-primary);
    margin: 0 0 1rem;
    font-size: 1.25rem;
    line-height: 1.25rem;
    white-space: nowrap;
}

.link:last-child {
    margin: 0;
}

.link:hover {
    cursor: pointer;
}

.primary {
    background: var(--highlight-dark);
    border: 1px solid transparent;
}

.spot1,
.spot2 {
    position: absolute;
    z-index: -10;
}

.spot1 {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.spot2 {
    top: -25%;
    right: 0;
    display: none;
}

/*Tablet and desktop styles*/
@media (min-width: 481px) {
    .content {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .text {
        margin: 0 2rem 0 0;
    }

    .text h1 {
        font-size: 4rem;
        margin: 0 0 3rem;
        text-align: left;
    }

    .links {
        flex-direction: row;
    }

    .link {
        padding: 1rem 1.25rem;
        margin: 0 1rem 0 0;
        margin-bottom: 0;
        font-size: 1.25rem;
        line-height: 1.25rem;
    }

    .link:last-child {
        margin: 0;
    }

    .image,
    .spot1,
    .spot2 {
        display: block;
    }

    .spot1 {
        top: -35%;
        left: 0;
        transform: none;
    }
}
