.content {
    width: 100%;
    margin: 0 auto;
    max-width: var(--max-width);
    padding: 0 var(--sides-padding);
    display: flex;
}

.aside {
    min-width: 24rem;
    max-width: 24rem;
    border-right: 1px solid gainsboro;
    margin-right: 1rem;
    display: flex;
    flex-direction: column;
    flex: 1 1 auto;
    padding: 1rem;
}

.main {
    padding: 1rem;
    width: 100%;
}
