.filters {
    margin-bottom: 2rem;
}

.row {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 1rem;
}

.row1 {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
}

.row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
}
