:root {
    font-size: 16px;

    --border-radius: 12px;

    --max-width: 1600px;
    --header-height: 7rem;

    --sides-padding: 6rem;
    --home-sides-padding: 9rem;

    --color-primary: #000000;
    /* --color-primary: #ffffff; */

    --header-bg: transparent;
    --footer-bg: transparent;

    --primary-bg: #FFFFFF;
    --secondary-bg: #DADADA;

    --highlight: #FF4261;
    --highlight-dark: #E74362;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
    position: relative;
}

body {
    color: var(--color-primary);
    background: var(--primary-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
