:root {
    font-size: 16px;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

    --max-width: 1600px;
    --border-radius: 12px;
    --header-height: 7rem;
    --sides-padding: 6rem;

    --color-primary: #ffffff;

    --header-bg: transparent;
    --footer-bg: transparent;

    --primary-bg: #0C1622;
    --secondary-bg: #DADADA;

    --highlight: #FF4261;
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--color-primary);
    background: var(--primary-bg);
}

a {
    color: inherit;
    text-decoration: none;
}

@media (prefers-color-scheme: dark) {
    html {
        color-scheme: dark;
    }
}
