.content {
    position: sticky;
    top: 0;
}

.content h3 {
    margin: 2rem 0;
}

.content :global(.ant-empty) {
    margin: 0;
}

.checkboxGroup :global(.ant-divider):first-child {
    margin-top: 0;
}

.group {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.item :global(.ant-card) {
    margin: 0.5rem 0;
}

.submit {
    margin-top: 1rem;
}
